.modal-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(217, 217, 217, 0.5);
    z-index: 1;
    transform: scale(1);
    // display: ${p => p.modalState === 'init' && css`none`};
    // animation: ${p =>
    //   p.modalState === 'open'
    //     ? css`
    //         ${ModalFadeIn} .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    //       `
    //     : p.modalState === 'close'
    //     ? css`
    //         ${ModalFadeOut} .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards
    //       `
    //     : css`none`};
}